<form name="userForm" ng-show="editMode" ng-submit="CreateProfile(userForm.$valid)" novalidate>

    <div class="input-group">
        <input type="text" class="form-control" name="fullname" placeholder="Full Name" ng-model="user.name" required ng-required="true">
        <p ng-show="userForm.fullname.$invalid && !userForm.fullname.$pristine" class="help-block">You name is required.</p>
    </div>
    <div class="input-group">
        <input type="text" class="form-control" name="password" ng-model="user.password" required ng-required="true">
        <p ng-show="userForm.password.$invalid && !userform.password.$pristine" class="help-block">Your password is required</p>
    </div>
    <div class="input-group ">
        <input type="text" class="form-control" name="pic" placeholder="Profile Image Url" ng-model="user.pic" required>
        <p ng-show="userForm.pic.$invalid && !userForm.pic.$pristine" class="help-block">You picture is required.</p>
    </div>
    <div class="input-group">
        <input type="text" class="form-control" name="status" placeholder="Tagline" ng-model="user.status" required>
        <p ng-show="userForm.status.$invalid && !userForm.status.$pristine" class="help-block">You Tagline is required.</p>
    </div>
    <!-- <div class="input-group">
        <textarea class="form-control" name="bio" placeholder="Bio" ng-model="user.bio">
      </textarea>
    </div> -->

    <div class="input-group">
        <input type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">
    </div>
</form>
